$purple: #c152c9;
$gradient-color: #8c4b91;
* {
    box-sizing: border-box;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-image {
    position: relative;

    img {
        width: 100%;
        border-radius: 10px;
        vertical-align: middle;
    }


    .video-box {
        text-align: center;

        .video-btn {
            position: absolute;
            left: 0;
            right: 0;
            display: inline-block;
            top: 50%;
            transform: translateY(-50%);
            width: 70px;
            height: 70px;
            background-color: #fff;
            border-radius: 50%;
            color: $purple;
            font-size: 40px;
            z-index: 1;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;

           
         

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                bottom: 0;
                left: 0;
                border-radius: 50%;
                border: 1px solid #fff;
                transition: .5s;
                animation: ripple 2s linear infinite;

            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                bottom: 0;
                left: 0;
                border-radius: 50%;
                border: 1px solid #fff;
                transition: .5s;
                animation: ripple 2s linear 1s infinite;
            }

            i {
                padding-left: 8px;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                z-index: 1;
                transform: translateY(-50%);
                margin-left: auto;
                margin-right: auto;
            }


        }
    }
}

.about-content-two {
    padding-left: 30px;

    .section-title {
        text-align: left;
        margin-bottom: 18px;
        max-width: 100%;
        margin: -5px auto 60px;

        h2 {
            text-align: left;
            font-weight: 700;
            font-family: Saira, sans-serif;
            color: #18181b;
            margin-top: 0;
            line-height: 1.2;
        }

        p {
            text-align: left;
        }
    }

    .about-text {
        margin-bottom: 20px;

        h4 {
            font-size: 20px;
            font-weight: 600;
            font-family: Saira, sans-serif;
            color: #18181b;
            margin-top: 0;
            margin-bottom: 0.5rem;
            line-height: 1.2;
        }

        p:last-child {
            margin-bottom: 0;
        }

        p {
            line-height: 1.8;
            font-size: 16px;
            color: #646464;
            margin-top: 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 10px 0 0;

            li {
                margin-bottom: 10px;
                position: relative;
                padding-left: 25px;
                line-height: 1.8;

                i {
                    position: absolute;
                    position: absolute;
                    left: 0;
                    top: 6px;
                    color: $purple;
                }
            }
        }
    }
}
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 .7rem rgba(255, 255, 255, 0.2);
    }
    100% {
      box-shadow: 0 0 0 8rem rgba(255, 255, 255, 0);
    }
  }

//   .ripple {
//     animation-duration: 2s;
//     animation-timing-function: linear;
//     animation-delay: 0s;
//     animation-iteration-count: infinite;
//     animation-direction: normal;
//     animation-fill-mode: none;
//     animation-play-state: running;
//     animation-name: ripple;
// }