@media only screen and (max-width: 1199px) {

    // header
    .hero-banner {
        .d-table {
            .d-table-cell {
                .text-center {
                    h1 {
                        font-size: 50px;
                    }

                    p {
                        margin-bottom: 15px;
                        font-size: 15px;
                    }

                    .btn {
                        padding: 10px 24px;

                    }
                }

            }


        }


    }

    //our work
    .ptb-100 .section-title h2 {

        font-size: 40px;
    }

    //contact
    .contact-info-box {
        text-align: center !important;
        padding: 30px !important;

        .icon {
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
            margin-bottom: 20px !important;
        }
    }

    //about
    .cta-area-two {
        .container {
            .cta-content {
                h3 {
                    font-size: 50px;
                }
            }
        }

    }

    //footer
    .footer-area .single-footer-widget h3 {
        font-size: 20px;
    }


}

@media only screen and (max-width:992px) {
    .col-lg-3 {
        flex: 0 0 auto !important;
        width: 50% !important;
    }




    .ptb-100 {
        padding-bottom: 70px !important;
        padding-top: 70px !important;
    }

    //our work
    .ptb-100 .section-title h2 {

        font-size: 50px;
    }

    .single-case-studies {
        min-height: 400px !important;
    }


    //contactUs
    .section-title {
        h2 {
            font-size: 32px !important;
        }
    }

    //about
    .cta-area-two {
        .container {
            .cta-content {
                h3 {
                    font-size: 35px;
                }
            }

            .cta-btn-box {
                .custom-btn {

                    padding: 15px 30px;
                    font-size: 15px;
                }

            }
        }

    }

    //our work process
    .work-process-area {
        .container {
            .work-process {


                img {
                    max-width: 55%;

                }

                img.circle-image {
                    top: 0;
                    max-width: 100%;
                }
            }

            .single-work-process .icon {
                width: 80px !important;
                height: 80px !important;
                line-height: 86px !important;
                font-size: 32px !important;
            }

            .single-work-process h3 {
                font-size: 16px !important;
                margin-top: 20px !important;
                margin-bottom: 5px !important;
            }

        }
    }

}

@media only screen and (max-width:767px) {

    .ptb-100 {
        padding-bottom: 50px !important;
        padding-top: 50px !important;
    }

    // navbar
    .navbar-area {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 10px;
        padding-top: 5px;
        z-index: 999;
        background-color: #fff !important;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .navbar-light {
            .white-logo {
                display: none;
            }

            .black-logo {
                display: block;
            }
        }

    }

    .navbar {

        .navbar-collapse {
            ul li a {
                color: black !important;
            }
        }
    }

    .navbar-collapse {
        position: static;

        .navbar-nav {
            display: none !important;
            position: absolute;
            top: 100%;
            background: #fff;
            width: 100%;
            left: 0;
        }
        .navbar-nav.active{
            display: block !important;
        }
    }

    //toggle-menu
    .navbar-area .navbar-nav {
        overflow-y: auto;
        height: 60vh;
        display: block;

        .nav-item {
            padding: 5px;


            .nav-link {
                color: #000 !important;

                i {
                    display: none !important;
                }
            }

            .dropdown-menu {
                position: relative !important;
                top: 0 !important;
                width: 98% !important;
                opacity: 1 !important;
                visibility: visible !important;
                padding: 10px 0 !important;
                margin-top: 8px !important;

                .nav-item {
                    width: 100%;
                    float: none;
                    padding: 0 15px;
                }
            }
        }

    }

    //active toggle
    .btn-navbar-toggler.active {
        .top-bar {
            transform: rotate(45deg);
            transform-origin: 10% 10%;
            left: 4px;
            position: relative;
        }

        .middle-bar {
            opacity: 0;
            margin: 6px 0;
        }

        .bottom-bar {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
            left: 4px;
            position: relative;
        }
    }




    // our works-first
    .single-case-studies .content {
        h3 {
            font-size: 20px;
            margin: 8px 0 0;
        }
    }

    .mt-40:nth-child(5),
    .mt-40:first-child {
        margin-top: 0 !important;
    }



    // header
    .hero-banner {
        .d-table {
            .d-table-cell {
                .text-center {
                    span {
                        font-size: 14px !important;
                    }

                    h1 {
                        font-size: 30px !important;
                        margin-top: 0;
                    }

                    p {
                        margin-bottom: 15px !important;
                        font-size: 15px !important;
                    }

                }
            }
        }
    }

    //contact
    .contact-info-area .col-lg-4 .contact-info-box {
        .icon {
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 25px;
            position: relative;
            left: 0;
            top: 0;
            margin-bottom: 15px;
        }

        h3 {
            font-size: 18px;
        }
    }

    //get in touch
    .contact-form {
        h2 {
            font-size: 26px !important;
        }
    }

    //subscribe
    .ptb-100 .newsletter-area .newsletter-inner-area {
        padding: 50px 20px;

        .newsletter-content {
            h2 {
                font-size: 25px;
            }

        }

        form {
            button {
                padding: 0 20px !important;
            }
        }
    }

    //contactUs
    .contact-cta-box {
        margin: 0 auto !important;
        padding: 25px !important;
        text-align: center !important;
    }

    .contact-cta-box .btn {
        position: relative !important;
        right: 0 !important;
        top: unset !important;
        transform: unset !important;
        margin-top: 15px !important;
    }

    .funfact {
        margin-bottom: 30px !important;

        h3 {
            font-size: 27px !important;
            margin-bottom: 0 !important;
        }
    }

    //about
    .cta-area-two {
        .container {
            .cta-content {
                h3 {
                    font-size: 30px;
                }
            }

            .cta-btn-box {
                .custom-btn {

                    padding: 10px 20px;
                    font-size: 14px;
                }

            }
        }
    }

    .services-details-area {
        .services-details-image {
            .video-box {
                .video-btn {
                    width: 50px;
                    height: 50px;
                    font-size: 30px;
                }
            }

        }
    }

    //our work process
    .work-process-area {
        .container {
            .work-process {
                img {
                    max-width: 37%;
                }

                .icon {
                    width: 55px !important;
                    height: 55px !important;
                    line-height: 60px !important;
                    font-size: 20px !important;
                }

                .circle-image {
                    top: 0 !important;
                    max-width: 70% !important;
                    opacity: .4 !important;
                }
            }

            .single-work-process:first-child {
                left: 10% !important;
                top: -40px !important;
            }

            .single-work-process:nth-child(2) {
                left: auto !important;
                right: 10% !important;
                top: -40px !important;
            }

            // .single-work-process:nth-child(2) {
            //     left: auto !important;
            //     right: 15px !important;
            //     top: -40px !important;
            // }

            .single-work-process h3 {
                font-size: 13px !important;
                margin-top: 15px !important;
                margin-bottom: 4px !important;
            }

            .single-work-process:nth-child(4) {
                left: auto !important;
                right: 10% !important;
                bottom: -40px !important;
                top: auto !important;
            }

            .single-work-process:nth-child(5) {
                left: 10% !important;
                top: auto !important;
                bottom: -40px !important;
            }

            // .single-work-process:nth-child(4) {
            //     left: auto !important;
            //     right: 0 !important;
            //     bottom: -40px !important;
            //     top: auto !important;
            // }
            // .single-work-process:nth-child(5) {
            //     left: 0 !important;
            //     top: auto !important;
            //     bottom: -40px !important;
            // }
            .section-title {
                margin-bottom: 75px !important;
            }

        }
    }

    // latestNew
    .container {
        max-width: 720px !important;

        .section-title {
            margin: -5px auto 30px !important;

            .blog-post-content {
                h3 {
                    font-size: 20px !important;
                }

                p {
                    font-size: 14px !important;
                }
            }
        }
    }

    // footer
    .footer-area {
        padding-top: 60px;

        .single-footer-widget {
            margin-bottom: 30px;

            h3 {
                font-size: 19px;
            }
        }

    }

    //btn-navbar-toggler
    .btn-navbar-toggler {
        display: block;
        justify-content: space-between;
    }

    .btn-navbar-toggler.active {
        display: flex;
    }


}


@media only screen and (max-width:576px) {

    // footer
    .col-lg-3 {
        flex: 0 0 auto !important;
        width: 100% !important;
    }


    .ptb-100 {
        padding-bottom: 50px !important;
        padding-top: 50px !important;
    }

    //latestNew
    .section-title {
        h2 {
            font-size: 26px !important;
        }

        p {
            font-size: 14px !important;
        }
    }

    //our work process
    .work-process-list .single-work-process:first-child {
        left: 10% !important;
        top: -40px !important;
    }

}