* {
    box-sizing: border-box;
}


.footer-area {
    background-color: #f6f9fc;
    padding-top: 100px;
    position: relative;
    z-index: 1;

    .logo {
        margin-bottom: 25px;

        a {
            font-size: 24px;
            font-weight: 700;
            color: #18181b;
            text-decoration: none;
            display: inline-block;
            transition: all .6s ease;

            img {
                max-width: 100%;
            }
        }
    }

    p {
        line-height: 1.8;
        font-size: 17px;
        color: #646464;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .single-footer-widget {

        .social-links {
            padding: 0;
            margin: 20px 0 0;
            list-style-type: none;

            li {
                display: inline-block;
                margin-right: 2px;

                a {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    background-color: #4a4a4a;
                    border-radius: 50%;
                    color: #fff;
                    position: relative;
                    z-index: 1;
                    font-size: 13px;
                    margin-right: 5px;
                    text-decoration: none;
                    display: inline-block;
                    transition: all .6s ease;


                    &:hover::before {
                        width: 100%;
                        height: 100%;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        margin: 0 auto;
                        background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00);
                        width: 0;
                        height: 0;
                        z-index: -1;
                        border-radius: 50%;
                        transition: all .6s ease;
                    }
                }
            }
        }

        h3 {
            position: relative;
            margin-bottom: 25px;
            padding-bottom: 10px;
            font-size: 24px;
            font-weight: 600;
            font-family: Saira, sans-serif;
            color: #18181b;
            margin-top: 0;
            line-height: 1.2;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 55px;
                height: 3px;
                background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00);
            }

            &::after {
                content: "";
                position: absolute;
                left: 35px;
                bottom: 0;
                height: 3px;
                background: #f6f9fc;
                width: 5px;
            }
        }

        ul.list {
            margin: 0;
            list-style-type: none;
            padding: 0;
            margin-bottom: 12px;
            font-size: 16px;

            li {
                margin-bottom: 12px;
                font-size: 16px;

                a {
                    position: relative;
                    color: #353535;
                    text-decoration: none;
                    display: inline-block;
                    transition: all .6s ease;

                    &:hover {
                        color: #ff2c9c;
                        padding-left: 15px;

                        &::before {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00);
                        width: 10px;
                        height: 2px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .6s ease;
                    }
                }
            }
        }

        .get-in-touch {
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                margin-bottom: 30px;
                position: relative;
                font-size: 16px;

                &:first-child {
                    margin-bottom: 10px;
                }

                i {
                    line-height: 35px;
                    color: #fff;
                    background: linear-gradient(to left top, #ff2c9c, #ff287b, #ff395a, #ff5137, #ff6a00);
                    border-radius: 50%;
                    text-align: center;
                    margin-right: 10px;
                    padding: 1px 8px;
                }


                a {
                    // display: inline-block;
                    color: #353535;
                    text-decoration: none;
                    transition: all .6s ease;

                    &:hover {
                        color: #ff2c9c;
                        ;
                    }
                }
            }
        }

    }


    .copyright-area {
        background-color: #000;
        text-align: center;
        margin-top: 95px;
        padding-top: 30px;
        padding-bottom: 30px;

        p {
            color: #fff;
            font-size: 16px;
            line-height: 1.8;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                display: inline-block;
                color: #ff2c9c;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

}



// responsivity
@media only screen and (max-width: 767px){
.single-footer-widget {
    padding-left: 0!important;
    margin-bottom: 30px;
    margin-left: 0!important;
}
}