$purple: #c152c9;
$gradient-color: #8c4b91;
.pb-70 {
    padding-bottom: 70px;
    padding-top: 100px;


    .contact-info-box {
        transition: all .6s ease;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background: #fff;
        padding: 30px 30px 30px 120px;
        margin-bottom: 30px;
        position: relative;

        &:hover {
            transform: translateY(-10px);

            .icon {
                color: white;
                background-color: $purple;
            }
        }

        .icon {
            display: inline-block;
            width: 65px;
            height: 65px;
            line-height: 65px;
            background: #f7fafd;
            border-radius: 50%;
            font-size: 30px;
            color: $purple;
            transition: all .6s ease;
            position: absolute;
            left: 30px;
            text-align: center;

        }

        h3 {
            font-size: 20px;
            margin: 0 0 10px;
            font-weight: 600;
            font-family: Saira, sans-serif;
            color: #18181b;
            line-height: 1.2;
        }

        p {
            margin-bottom: 0;
            color: #646464;

            a {
                color: #646464;
                text-decoration: none;
                display: inline-block;
                transition: all .6s ease;
            }
        }


    }
}